<div class="techs" layout-align="center">
  <md-card class="md-whiteframe-24dp">
    <h1>Zum Goldenen Löwen</h1>
    <form ng-submit="loginCtrl.performLogin()">
      <md-card-content>
        <md-input-container class="md-block">
          <label>Benutzername</label>
          <input required type="text" name="username" ng-model="loginCtrl.credentials.username">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Passwort</label>
          <input required type="password" name="password" ng-model="loginCtrl.credentials.password">
        </md-input-container>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end">
        <md-button type="submit" class="md-primary">Anmelden</md-button>
      </md-card-actions>
    </form>
  </md-card>
</div>
