<div class="rootDiv">
  <div class="verticalAlign">
    <div class="techs" layout-align="center">
      <md-card class="md-whiteframe-24dp">
        <form name="loginForm">
          <md-card-content>
            <md-input-container class="md-block">
              <label>Benutzername</label>
              <input required name="username" ng-model="project.clientName">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Passwort</label>
              <input required name="password" ng-model="project.clientName">
            </md-input-container>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end">
            <md-button class="md-primary" ng-href="{{ awesomeThing.url }}">Anmelden</md-button>
          </md-card-actions>
        </form>
      </md-card>
    </div>
  </div>
</div>
