<div class="rootDiv">
  <navbar></navbar>
  <div ncy-breadcrumb></div>
  <div class="room" layout="row" layout-align="center">
    <md-card class="page md-whiteframe-24dp">
      <h2 class="md-headline">Zimmerübersicht</h2>
      <md-card-content>
        <md-content layout="row">
          <md-input-container>
            <md-checkbox ng-model="roomCtrl.freeRoomsOnly" ng-change="roomCtrl.freeRoomsChange()" aria-label="Nur freie Zimmer im Zeitraum" class="md-primary">
              Nur freie Zimmer im Zeitraum:
            </md-checkbox>
          </md-input-container>
        </md-content>

        <md-content class="freeRoomParameters" ng-show="roomCtrl.freeRoomsOnly" layout="column">
          <md-card>
            <div layout="row" layout-padding="0" layout-wrap>
              <div layout="row" layout-align="space-between center" flex="95" flex-gt-sm="45">
                <b flex="15">Von</b>
                <md-datepicker ng-model="roomCtrl.startDate" ng-change="roomCtrl.onStartDateChange()"></md-datepicker>
              </div>
              <div layout="row" layout-align="space-between center" flex="95" flex-gt-sm="45" flex-offset-gt-sm="5">
                <b flex="15">Bis</b>
                <md-datepicker ng-model="roomCtrl.endDate"></md-datepicker>
              </div>
              <div layout="row" layout-align="space-between center" flex="95" flex-gt-sm="45">
                <b>Erwachsene</b>
                <input type=number flex="30" flex-offset="5" ng-model="roomCtrl.adults" required
                       min="0">
              </div>
              <div layout="row" layout-align="space-between center" flex="95" flex-gt-sm="45" flex-offset-gt-sm="5">
                <b>Kinder</b>
                <input type=number flex="30" flex-offset="5" ng-model="roomCtrl.children" required
                       min="0">
              </div>
            </div>
          </md-card>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary" ng-click="roomCtrl.filter()">Suchen</md-button>
          </md-card-actions>
      </md-content>

       <!-- <md-content ng-show="roomCtrl.freeRoomsOnly" layout="row">
          <div layout layout-sm="column">
            <md-datepicker ng-model="roomCtrl.startDate" md-min-date="roomCtrl.minStartDate" ng-change="roomCtrl.onStartDateChange()"></md-datepicker>
            <md-datepicker ng-model="roomCtrl.endDate" md-min-date="roomCtrl.minEndDate"></md-datepicker>
            <md-button class="md-primary" ng-click="roomCtrl.filter()" style="margin-left:4em">Suchen</md-button>
          </div>
        </md-content>-->

        <hr/>
        <md-content layout="row">
          <table width="100%" role="grid" class="room">
            <thead>
            <tr>
              <th width="15%">Name/Nr.</th>
              <th width="15%">Max.<br/>Belegzahl</th>
              <th width="10%">Preis<br/>1P</th>
              <th width="10%">Preis<br/>2P</th>
              <th width="10%">Preis<br/>3P</th>
              <th width="10%">Preis<br/>1P+1K</th>
              <th width="10%">Preis<br/>1P+2K</th>
              <th width="10%">Preis<br/>2P+1K</th>
              <th width="10%">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr
              ng-repeat="r in roomCtrl.getRooms()"
              ng-class-odd="'odd'" ng-class-even="'even'">
              <td class="center">
                <a ui-sref="roomdetail({roomid: r.id})">{{r.roomNumber}}</a>
              </td>
              <td class="center">{{r.maxPersons}}</td>
              <td class="center">{{r.price1P | currency : "€ " : 0}}</td>
              <td class="center">{{r.price2P | currency : "€ " : 0}}</td>
              <td class="center">{{r.price3P | currency : "€ " : 0}}</td>
              <td class="center">{{r.price1P1K | currency : "€ " : 0}}</td>
              <td class="center">{{r.price1P2K | currency : "€ " : 0}}</td>
              <td class="center">{{r.price2P1K | currency : "€ " : 0}}</td>
              <td class="center">
                <!-- , startdate: roomCtrl.startDate, enddate: roomCtrl.endDate -->
                <a ng-show="!roomCtrl.displayAll"
                   ui-sref="addreservation({
                   roomid: r.id,
                   startdate: (roomCtrl.startDate | date : 'yyyy-MM-dd'),
                   enddate: (roomCtrl.endDate | date : 'yyyy-MM-dd'),
                   adults: roomCtrl.adults,
                   children: roomCtrl.children})">+Res</a>
              </td>
            </tr>
            <tr>
              <td colspan="9" ng-show="roomCtrl.loading">
                <div layout="row" layout-sm="column" layout-align="space-around">
                  <md-progress-circular md-mode="indeterminate" md-diameter="60px" class="md-hue-2"></md-progress-circular>
                </div>
              </td>
            </tr>
            <tr ng-show="!roomCtrl.loading && !roomCtrl.getRooms().length && !roomCtrl.freeRoomsOnly">
              <td colspan="9" class="center">
                <p>Keine Zimmer im System eingetragen.</p>
              </td>
            </tr>
            <tr ng-show="!roomCtrl.loading && !roomCtrl.getRooms().length && roomCtrl.freeRoomsOnly">
              <td colspan="9" class="center">
                <p>Keine freien Zimmer gefunden!</p>
              </td>
            </tr>
            </tbody>
          </table>
        </md-content>
      </md-card-content>
    </md-card>
  </div>
</div>
