<div class="rootDiv">
  <navbar></navbar>
  <div ncy-breadcrumb></div>
  <div class="verticalAlign">
    <div class="techs" layout-align="center">
      <md-card class="md-whiteframe-24dp" layout="column" layout-align="center center">
        <md-card-content>
          <h1>Reservierung</h1>
        </md-card-content>
        <md-button ui-sref="reservation" class="md-fab md-primary md-block">
          <md-icon md-svg-icon="assets/icons/magnify.svg"></md-icon>
        </md-button>
      </md-card>
      <md-card class="md-whiteframe-24dp" layout="column" layout-align="center center">
        <md-card-content>
          <h1>Zimmer</h1>
        </md-card-content>
        <md-button class="md-fab md-primary md-block">
          <md-icon md-svg-icon="assets/icons/magnify.svg"></md-icon>
        </md-button>
      </md-card>
    </div>
    <div class="techs" layout-align="center">
      <md-card class="md-whiteframe-24dp" layout="column" layout-align="center center">
        <md-card-content>
          <h1>Kunden</h1>
        </md-card-content>
        <md-card-actions layout="row">
          <md-button ui-sref="customer" class="md-fab md-primary md-block">
            <md-icon md-svg-icon="assets/icons/plus.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-primary md-block">
            <md-icon md-svg-icon="assets/icons/pencil.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-primary md-block">
            <md-icon md-svg-icon="assets/icons/magnify.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      <md-card class="md-whiteframe-24dp" layout="column" layout-align="center center">
        <md-card-content>
          <h1>Rechnungen</h1>
        </md-card-content>
        <md-card-actions layout="row">
          <md-button ui-sref="createinvoice" class="md-fab md-primary md-block">
            <md-icon md-svg-icon="assets/icons/plus.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-primary md-block">
            <md-icon md-svg-icon="assets/icons/minus.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
