<div class="rootDiv">
  <md-toolbar layout="row" layout-align="center center">
    <div class="md-toolbar-tools">
      <img src="assets/images/goldenlion.png" class="md-card-image">

      <h1>Herzlich Willkommen im Hotel des Goldenen Löwen!</h1>
    </div>
  </md-toolbar>

  <div class="customerReservation" layout="row" layout-align="center">
    <md-card class="md-whiteframe-24dp" style="width: 60%">
      <form ng-submit="customerReservationCtrl.searchAvailableRooms()">
        <md-card-content>
          <div layout="row">
            <h1 class="md-subhead" flex>
              Sie möchten eine unvergessliche Zeit bei uns verbringen? Reservieren Sie am besten gleich!
            </h1>
          </div>

          <div layout="row">
            <div layout="column" flex>
              <p>Wählen Sie den gewünschten Zeitraum:</p>

              <md-card>
                <div layout="row" layout-padding="0" layout-wrap>
                  <div layout="row" layout-align="space-between center" flex="95" flex-gt-sm="45">
                    <b flex="15">Von</b>
                    <md-datepicker ng-model="customerReservationCtrl.fromDate"></md-datepicker>
                  </div>
                  <div layout="row" layout-align="space-between center" flex="95" flex-gt-sm="45" flex-offset-gt-sm="5">
                    <b flex="15">Bis</b>
                    <md-datepicker ng-model="customerReservationCtrl.toDate"></md-datepicker>
                  </div>
                  <div layout="row" layout-align="space-between center" flex="95" flex-gt-sm="45">
                    <b>Erwachsene</b>
                    <input type=number flex="30" flex-offset="5" ng-model="customerReservationCtrl.adults" required>
                  </div>
                  <div layout="row" layout-align="space-between center" flex="95" flex-gt-sm="45" flex-offset-gt-sm="5">
                    <b>Kinder</b>
                    <input type=number flex="30" flex-offset="5" ng-model="customerReservationCtrl.children" required>
                  </div>
                </div>
              </md-card>

            </div>
          </div>

        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button type="submit" class="md-primary" ng-click="">Suchen</md-button>
        </md-card-actions>
      </form>

      <md-card-content ng-if="customerReservationCtrl.searched" class="roomSelection">
        <h1 class="md-subhead" flex>Wählen Sie ein Zimmer aus:</h1>

        <div class="md-padding" layout-wrap layout="column" layout-gt-sm="row" layout-align="center start">
          <md-card flex="45"
                   ng-repeat="room in customerReservationCtrl.rooms"
                   ng-click="customerReservationCtrl.selectRoom(room)"
                   ng-if="!customerReservationCtrl.selectedRoom">
            <md-card-content>
              <md-card-title>
                <div layout="row">
                  <md-card-title-text layout="column" flex>
                    <span class="md-headline">{{room.roomNumber}}</span>
                    <span class="md-subhead">{{room.description | limitTo:150}}{{room.description.length > 150 ? '...' : ''}}</span>
                  </md-card-title-text>
                  <md-card-title-media flex="30">
                    <img data-ng-src="data:image/jpg;base64,{{room.roomImage}}" class="md-card-image" flex="100">
                  </md-card-title-media>
                </div>
              </md-card-title>
            </md-card-content>
          </md-card>

          <md-card flex ng-if="customerReservationCtrl.selectedRoom">
            <md-card-content>
              <md-card-title>
                <div layout="row">
                  <md-card-title-text layout="column" flex>
                    <span class="md-headline">{{customerReservationCtrl.selectedRoom.roomNumber}}</span>
                    <span class="md-subhead">{{customerReservationCtrl.selectedRoom.description}}</span>
                  </md-card-title-text>
                  <md-card-title-media flex="30">
                    <img data-ng-src="data:image/jpg;base64,{{customerReservationCtrl.selectedRoom.roomImage}}"
                         class="md-card-image" flex="100">
                  </md-card-title-media>
                </div>
              </md-card-title>
            </md-card-content>
            <md-card-actions layout="column" layout-align="end end">
              <span class="md-subhead" layout-margin="1em">{{customerReservationCtrl.selectedRoom.pricePerNight}} € / pro Nacht </span>
              <md-button class="md-primary" ng-click="customerReservationCtrl.unselectRoom()">Ändern</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </md-card-content>

      <md-card-content ng-if="customerReservationCtrl.searched && customerReservationCtrl.selectedRoom">
        <form ng-submit="customerReservationCtrl.submitRoomReservation()">
          <div layout="row">
            <div layout="column" layout-align="top" class="customercolumn">
              <md-input-container>
                <label>Vorname</label>
                <input required ng-model="customerReservationCtrl.customer.firstName">
              </md-input-container>
              <md-input-container>
                <label>Nachname</label>
                <input required ng-model="customerReservationCtrl.customer.lastName">
              </md-input-container>
              <md-datepicker required ng-model="customerReservationCtrl.customer.birthday" md-placeholder="Geburtsdatum"
              ></md-datepicker>
              <md-input-container>
                <label>Geschlecht</label>
                <md-select required ng-model="customerReservationCtrl.customer.gender">
                  <md-option ng-repeat="gender in customerReservationCtrl.genders" value="{{gender.short}}">
                    {{gender.text}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Straße</label>
                <input required ng-model="customerReservationCtrl.customer.street">
              </md-input-container>
              <md-input-container layout-align="end" md-no-float class="md-block">
                <input required ng-model="customerReservationCtrl.customer.streetExtension"
                       placeholder="Hausnummer/Stiege/Tür">
              </md-input-container>
              <md-input-container>
                <label>Land</label>
                <input required ng-model="customerReservationCtrl.customer.state">
              </md-input-container>
              <div layout layout-sm="column">
                <md-input-container>
                  <label>Postleitzahl</label>
                  <input name="postalCode" ng-model="customerReservationCtrl.customer.postalCode" placeholder="2100"
                         required ng-pattern="/^[a-zA-Z0-9]{4,16}$/" md-maxlength="16">
                </md-input-container>
                <md-input-container>
                  <label>Stadt</label>
                  <input required ng-model="customerReservationCtrl.customer.city">
                </md-input-container>
              </div>
            </div>

            <div layout="column" layout-align="top" class="customercolumn">
              <md-input-container class="md-block">
                <label>Firmenname</label>
                <input ng-model="customerReservationCtrl.customer.companyName">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Telefonnummer</label>
                <input ng-model="customerReservationCtrl.customer.telephone">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Fax</label>
                <input ng-model="customerReservationCtrl.customer.fax">
              </md-input-container>
              <md-input-container class="md-block">
                <label>E-Mail</label>
                <input required type="email" ng-model="customerReservationCtrl.customer.email">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Web</label>
                <input ng-model="customerReservationCtrl.customer.web" pattern="(https?://)?(www\.).+">
              </md-input-container>


            </div>
          </div>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary" ng-click="">Reservierung bestätigen</md-button>
          </md-card-actions>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>
