<div class="rootDiv">
  <md-toolbar layout="row" layout-align="center center">
    <div class="md-toolbar-tools">
      <img src="assets/images/goldenlion.png" class="md-card-image">

      <h1>Herzlich Willkommen im Hotel des Goldenen Löwen!</h1>
    </div>
  </md-toolbar>

  <div layout="row" layout-align="center">
    <md-card class="md-whiteframe-24dp" style="width: 50%">
      <form ng-submit="customerReservationCtrl.searchAvailableRooms()">
        <md-card-content>
          <div layout="row">
            <h1 class="md-subhead" flex>Sie möchten eine unvergessliche Zeit bei uns verbringen? Reservieren Sie am
              besten
              gleich!</h1>
          </div>

          <div layout="row">
            <div layout="column" flex>
              <p>Wählen Sie den gewünschten Zeitraum :</p>

              <div layout="row">
                <div layout="column" layout-align="center center" flex="30">
                  <div layout="row" layout-align="center center">
                    <b>Von</b>
                    <md-datepicker ng-model="customerReservationCtrl.fromDate"
                    "></md-datepicker>
                  </div>
                </div>
                <div layout="column" layout-align="center center" flex="30">
                  <div layout="row" layout-align="center center">
                    <b>Bis</b>
                    <md-datepicker ng-model="customerReservationCtrl.toDate"></md-datepicker>
                  </div>
                </div>
                <div layout="column" layout-align="center center" flex="20">
                  <div layout="row" layout-align="center center" flex>
                    <b flex="70">Erwachsene</b>
                    <input type=number flex="20" ng-model="customerReservationCtrl.adults" required>
                  </div>
                </div>
                <div layout="column" layout-align="center center" flex="20">
                  <div layout="row" layout-align="center center" flex>
                    <b flex="40">Kinder</b>
                    <input type=number flex="20" ng-model="customerReservationCtrl.children" required>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-primary" ng-click="">Suchen</md-button>
        </md-card-actions>
      </form>

      <md-card-content ng-if="customerReservationCtrl.searched">
        <h1 class="md-subhead" flex>Wählen Sie ein Zimmer aus :</h1>

        <div class="md-padding" layout="row" layout-wrap layout-align="center start">
          <md-card flex="45" ng-repeat="room in customerReservationCtrl.rooms"
                   ng-click="customerReservationCtrl.selectRoom(room)" ng-if="!customerReservationCtrl.selectedRoom">
            <md-card-content>
              <md-card-title>
                <div layout="row">
                  <md-card-title-text layout="column" flex>
                    <span class="md-headline">{{room.name}}</span>
                    <span class="md-subhead">{{room.description | limitTo:150}}{{room.description.length > 150 ? '...' : ''}}</span>
                  </md-card-title-text>
                  <md-card-title-media flex="30">
                    <img src="{{room.imgSrc}}" class="md-card-image" flex="100">
                  </md-card-title-media>
                </div>
              </md-card-title>
            </md-card-content>
          </md-card>

          <md-card flex ng-if="customerReservationCtrl.selectedRoom">
            <md-card-content>
              <md-card-title>
                <div layout="row">
                  <md-card-title-text layout="column" flex>
                    <span class="md-headline">{{customerReservationCtrl.selectedRoom.name}}</span>
                    <span class="md-subhead">{{customerReservationCtrl.selectedRoom.description}}</span>
                  </md-card-title-text>
                  <md-card-title-media flex="30">
                    <img src="{{customerReservationCtrl.selectedRoom.imgSrc}}" class="md-card-image" flex="100">
                  </md-card-title-media>
                </div>
              </md-card-title>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-primary" ng-click="customerReservationCtrl.unselectRoom()">Abwählen</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </md-card-content>

      <md-card-content ng-if="customerReservationCtrl.searched && customerReservationCtrl.selectedRoom">
        <form ng-submit="customerReservationCtrl.submitRoomReservation()">
        <div layout="row">
          <div layout="column" layout-align="top" class="customercolumn">
            <md-input-container>
              <label>Vorname</label>
              <input required ng-model="customerCtrl.customer.firstName">
            </md-input-container>
            <md-input-container>
              <label>Nachname</label>
              <input required ng-model="customerCtrl.customer.lastName">
            </md-input-container>
            <md-input-container>
              <label>Geburtsdatum</label>
              <input required type="date" ng-model="customerCtrl.customer.birthday" min="1900-01-01"
                     placeholder="Geburtsdatum">
            </md-input-container>
            <md-input-container>
              <label>Geschlecht</label>
              <md-select required ng-model="customerCtrl.customer.gender">
                <md-option ng-repeat="gender in customerCtrl.genders" value="{{gender.short}}">
                  {{gender.text}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Straße</label>
              <input required ng-model="customerCtrl.customer.street">
            </md-input-container>
            <md-input-container layout-align="end" md-no-float class="md-block">
              <input required ng-model="customerCtrl.customer.streetExtension" placeholder="Hausnummer/Stiege/Tür">
            </md-input-container>
            <md-input-container>
              <label>Land</label>
              <input required ng-model="customerCtrl.customer.state">
            </md-input-container>
            <div layout layout-sm="column">
              <md-input-container>
                <label>Postleitzahl</label>
                <input name="postalCode" ng-model="customerCtrl.customer.postalCode" placeholder="1010"
                       required ng-pattern="/^[0-9]{4}$/" md-maxlength="4">
              </md-input-container>
              <md-input-container>
                <label>Stadt</label>
                <input required ng-model="customerCtrl.customer.city">
              </md-input-container>
            </div>
          </div>

          <div layout="column" layout-align="top" class="customercolumn">
            <md-input-container class="md-block">
              <label>Firmenname</label>
              <input ng-model="customerCtrl.customer.companyName">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Telefonnummer</label>
              <input required ng-model="customerCtrl.customer.telephone">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Fax</label>
              <input required ng-model="customerCtrl.customer.fax">
            </md-input-container>
            <md-input-container class="md-block">
              <label>E-Mail</label>
              <input required type="email" ng-model="customerCtrl.customer.email">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Web</label>
              <input required type="url" ng-model="customerCtrl.customer.web">
            </md-input-container>


          </div>
        </div>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-primary" ng-click="">Reservierung bestätigen</md-button>
        </md-card-actions>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>
