<div class="rootDiv">
  <navbar></navbar>
  <div ncy-breadcrumb></div>
  <div layout="row" layout-align="center">
    <md-card class="md-whiteframe-24dp" style="width: 50%">
      <h2 class="md-headline">Reservierungen</h2>
      <md-card-content>
        <md-content layout="row" style="display:block">
          <md-input-container style="float:right !important"  disabled>
            <label>Kunde(n)</label>
            <input ng-model="searchTextCustomer" tabindex="2" />
          </md-input-container>
          <md-input-container style="float:right !important">
            <label>Raum</label>
            <input ng-model="searchTextRoom" tabindex="1" />
          </md-input-container>
        </md-content>
        <md-content layout="row">
          <table width="100%" role="grid" class="reservation">
            <thead>
            <tr>
              <th width="18%">Von</th>
              <th width="18%">Bis</th>
              <th width="12%">Raum-<br/>Nummer</th>
              <th width="52%">Kunde(n)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="r in reservationCtrl.reservations | filter : {roomsMerged: searchTextRoom, customerMerged: searchTextCustomer}" ng-class-odd="'odd'" ng-class-even="'even'">
              <td class="center">{{r.startDate | date : "dd. MMM. yyyy"}}</td>
              <td class="center">{{r.endDate | date : "dd. MMM. yyyy"}}</td>
              <td class="center"><span ng-repeat="room in r.rooms">{{room.roomNumber}} <br /></span></td>
              <td>
                <ul style="float:left">
                  <li ng-repeat="customer in r.customers">
                    <span>{{customer.lastName}} {{customer.firstName}}<br /></span>
                  </li>
                </ul>
                <md-button style="float:right" class="md-fab md-primary md-micro" aria-label="Reservierung löschen"
                           ng-click="reservationCtrl.confirmDelete(r.id)" ng-hide="reservationCtrl.isPaid(r.id)">
                  <md-icon md-svg-icon="assets/icons/minus.svg"></md-icon>
                </md-button>
                <div style="float:right; font-size: 0.85em;" ng-show="reservationCtrl.isPaid(r.id)">
                  <i>Bezahlt</i>
                </div>
              </td>
            </tr>
            <tr ng-show="!reservationCtrl.reservations.length">
              <td colspan="4" class="center">
                <p>Es sind keine Reservierungen gefunden.</p>
              </td>
            </tr>
            </tbody>
          </table>
        </md-content>
      </md-card-content>

    </md-card>
  </div>
</div>
